body {
    overflow: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
    animation: slideInFromTop 3s ease forwards;
}

.container > section {
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    background: linear-gradient(135deg, #ffffff, #f4f4f4);
    transition: transform 0.2s ease-in-out;
}

.container > section:hover {
    transform: translateY(-5px);
}

h2 {
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 1.4em;
}

@media (min-width: 850px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .container > section {
        margin-bottom: 0;
    }
}

@media (max-width: 850px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    h1 {
        font-size: 40px;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.fun-facts li {
    margin-bottom: 30px;
}

.exercises, .progress {
    animation: slideInFromLeft 1s ease forwards;
}

.climbing-info, .fun-facts {
    animation: slideInFromRight 1s ease forwards;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1a1a1a;
    }
    .container > section {
        background: #2a2a2a;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    h1, h2 {
        color: #ffffff;
    }
    li, p {
        color: #ffffff;
    }
    h2 {
        color: #4da6ff;
        border-bottom: 2px solid #4da6ff;
    }
}

.progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(to right, #4CAF50, #00C9A7);
    width: 0%;
    transition: width 0.5s ease-in-out;
}
