<head>
    <title>Pullup Tracker</title>
    <link rel="stylesheet" href="static/log.css">
    <script>
        function updateCount(change) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_pullups", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(this.responseText);
                    document.getElementById("pullupCount").innerHTML = response.count;
                }
            };
            xhr.send(JSON.stringify({change: change}));
        }
    </script>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <h1>Hi, {{ name }}! You've done <span id="pullupCount">{{ count }}</span> pullups!</h1>
    <div class="button-container">
        <button class="plus" type="button" onclick="updateCount('increase')">+1</button>
        <button class="minus" type="button" onclick="updateCount('decrease')">-1</button>
        <button class="plus-ten" type="button" onclick="updateCount('increase10')">+10</button>
        <button class="minus-ten" type="button" onclick="updateCount('decrease10')">-10</button>
    </div>
    {% endblock %}
</body>

