{% extends "base.html" %}

{% block content %}
<h2>Settings</h2>
{% if error %}
<div class="error-box">
    {{ error }}
</div>
{% endif %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link rel="stylesheet" href="static/settings.css">
</head>
<form method="post">
    <h3>Account Info</h3>
    <div class="centre-settings">
        <label>Username:</label>
        <input type="text" name="new_username" placeholder="New Username" value="{{ user.username }}">
    </div>
    <div class="centre-settings">
        <label>Password:</label>
        <input type="password" name="new_password" placeholder="New Password">
    </div>
    <div class="centre-settings">
        <label>Anonymous Mode</label>
        <input type="checkbox" name="anonymous_mode" id="anonymous_mode" {% if user.anonymous_mode %}checked{% endif %}>
        <label for="anonymous_mode"></label>
    </div>
    <button type="submit">Update Settings</button>
</form>

<form method="post" action="{{ url_for('delete_account') }}">
    <button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete Account</button>
</form>
{% endblock %}
