{% extends "base.html" %}

{% block content %}
<h2>Settings</h2>
{% if error %}
<div class="error-box">
    {{ error }}
</div>
{% endif %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no">
    <link rel="stylesheet" href="static/settings.css">
</head>
<form method="post">
    <h3>Account Info</h3>
    <div class="centre-settings">
        <label>Username:</label>
        <input type="text" name="new_username" placeholder="New Username" value="{{ user.username }}">
    </div>
    <div class="centre-settings">
        <label>Password:</label>
        <input type="password" name="new_password" placeholder="New Password">
    </div>
    <div class="centre-settings">
        <label>Anonymous Mode</label>
        <input type="checkbox" name="anonymous_mode" id="anonymous_mode" {% if user.anonymous_mode %}checked{% endif %}>
        <label for="anonymous_mode"></label>
    </div>
    {% if user.age == 0 %}  
    <h3>Personal Info</h3>
    <div class="centre-settings">
        <label>Age:</label>
        <input type="number" name="age" placeholder="Your Age" min="1">
    </div>
    <div class="centre-settings">
        <label>Height (cm):</label>
        <input type="number" name="height" placeholder="Your Height in cm" min="1">
    </div>
    <div class="centre-settings">
        <label>Weight (kg):</label>
        <input type="number" name="weight" placeholder="Your Weight in kg" min="1">
    </div>
    <div class="centre-settings">
        <label>Gender:</label>
        <select name="gender">
            <option value="" disabled selected>Please select one</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <div class="centre-settings">
        <label>Activity Level:</label>
        <select name="activity_level">
            <option value="" disabled selected>Please select one</option>
            <option value="sedentary">Sedentary</option>
            <option value="lightly_active">Lightly Active</option>
            <option value="moderately_active">Moderately Active</option>
            <option value="very_active">Very Active</option>
            <option value="extra_active">Extra Active</option>
        </select>        
    </div>
    <div class="centre-settings">
        <label>Goal:</label>
        <select name="goal">
            <option value="" disabled selected>Please select one</option>
            <option value="bulk">I want to Bulk</option>
            <option value="cut">I want to Cut</option>
        </select>
    </div>
    {% else %}
    <h3>Personal Info</h3>
    <div class="centre-settings">
        <label>Age:</label>
        <input type="number" name="age" placeholder="Your Age" value="{{ user.age }}" min="1">
    </div>
    <div class="centre-settings">
        <label>Height (cm):</label>
        <input type="number" name="height" placeholder="Your Height in cm" value="{{ user.height }}" min="1">
    </div>
    <div class="centre-settings">
        <label>Weight (kg):</label>
        <input type="number" name="weight" placeholder="Your Weight in kg" value="{{ user.weight }}" min="1">
    </div>
    <div class="centre-settings">
        <label>Gender:</label>
        <select name="gender" required>
            <option value="male" {% if current_gender %} selected {% endif %}>Male</option>
            <option value="female" {% if not current_gender %} selected {% endif %}>Female</option>
        </select>
    </div>
    <div class="centre-settings">
        <label>Activity Level:</label>
        <select name="activity_level" required>
            <option value="sedentary" {% if current_activity_level == 'sedentary' %} selected {% endif %}>Sedentary</option>
            <option value="lightly_active" {% if current_activity_level == 'lightly_active' %} selected {% endif %}>Lightly Active</option>
            <option value="moderately_active" {% if current_activity_level == 'moderately_active' %} selected {% endif %}>Moderately Active</option>
            <option value="very_active" {% if current_activity_level == 'very_active' %} selected {% endif %}>Very Active</option>
            <option value="extra_active" {% if current_activity_level == 'extra_active' %} selected {% endif %}>Extra Active</option>
        </select>        
    </div>    
    <div class="centre-settings">
        <label>Goal:</label>
        <select name="goal" required>
            <option value="bulk" {% if current_goal %} selected {% endif %}>I want to Bulk</option>
            <option value="cut" {% if not current_goal %} selected {% endif %}>I want to Cut</option>
        </select>
    </div>    
    {% endif %}
    <button type="submit">Update Settings</button>
</form>

<form method="post" action="{{ url_for('delete_account') }}">
    <button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">Delete Account</button>
</form>
{% endblock %}
